#Homepage{
    max-height: calc(100vh - 76px);
    overflow-y: auto;
    width     : 100%;

    .banner{
        background       : url('../../../../public/assets/img/main/backgroundHome.png');
        width            : 100%;
        height           : 65vh;
        background-size  : cover;
        background-repeat: no-repeat;
        padding          : 6vw 5vw;
    }

    .searchSection{
        background-color: color(backgroundColor);
        border-radius   : 12px;
        margin          : -70px 4vw;
        z-index         : 100;
        padding         : 36px;

    }

    .searchField, .searchField:focus, .searchField:hover{
        border-radius: 6px;
        border       : 0px;
        outline      : 0px;
        padding      : 8px 16px;
        width        : 80%;
    }

    .searchBtn{
        padding      : 8px 16px;
        color        : white;
        border-radius: 6px;
        margin-left: -32px;
    }

    
    .table-responsive::-webkit-scrollbar {
        height          : 6px;      /* Set the height of the scrollbar */
        background-color: #f3f3f3;  /* Set the background color of the scrollbar */
      }
      
      .table-responsive::-webkit-scrollbar-thumb {
        background-color: color(primary0);  /* Set the color of the scrollbar thumb */
        border-radius   : 6px;              /* Set the border radius of the scrollbar thumb */
      }
      
      .table-responsive::-webkit-scrollbar-thumb:hover {
        background-color: color(primary0);  /* Set the color of the scrollbar thumb on hover */
      }

    tr th {
        font-weight: 700;
    }

    .table thead th,
    .table tbody td {
        white-space: nowrap;
    }

    .table thead th {
        padding: 16px !important;
    }

    td,
    tr {
        padding       : 14px 24px;
        text-align    : center;
        vertical-align: middle;
    }

    .editIconDetails {
        top  : -16px;
        right: 16px;
    }
    .scroll-container::-webkit-scrollbar {
        height          : 10px;  /* Height of the scrollbar */
        background-color: #ccc;  /* Background color of the scrollbar track */
    }

    /* Style for the thumb of the horizontal scrollbar */
    .scroll-container::-webkit-scrollbar-thumb {
        background-color: #888;  /* Color of the scrollbar thumb */
    }

    thead th {
        // background-color: #f2f2f2;
        color: white;
        padding: 8px !important;
    }

    .table-striped>tbody>tr:nth-child(odd)>td,
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: #f3f3f3;  // Choose your own color here
    }



    .viewBtnTable {
        padding         : 8px;
        font-size       : 12px !important;
        background-color: transparent;
        color           : black;
        border-radius   : 4px;
        outline         : 0px;
        border          : 0px;
    }

}